<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stu_main.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <style type="text/css">
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    .navbar {
        margin-bottom: 0px;

    }
    .btn-info {
        color: #fff;
        background-color:#212431 ;
        border-color: #212431;
    }
    .btn-info:hover {
        color: #fff;
        background-color: #2e3346;
        border-color:#2e3346 ;
    }
    .navbar-brand {
        padding: 0px;
    }
    @media (min-width: 1200px){
    .container {
        width: 1471px;
    }
    }
    th, td {
        width: 14%;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        text-align: center;
        vertical-align: unset;
        line-height: 18px;
        font-weight: 400;
        word-break: break-all;
        }
        .first-col {
        width: 30%;
        text-align: left;
        }
        small {
        display: block;
        line-height: 18px;
        opacity: 0.5;
        }
        .btn-block {
        text-align: center;
        }
        table{
            width:100%;
        }

  </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">


            <a class="navbar-brand" href="student page.html">
                <img src="24.jfif" alt="logo" style="width:180px;">

            </a>

            <div class="container">

                <button class='btn btn-info pull-right' id='Logout' onclick="window.location.href='logout'"> 
                Logout
                </button>
                </h1>
            </div>


        </div>

    </nav>
   <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>

            </div>

            <ul class="list-unstyled components">
                <li >

                    <a href="stud_edit" >
                        <i class="fas fa-user"></i>
                       Edit Profile
                    </a>

                </li>
                <li>
                    <a href="stud_choose" >
                        <i class="fas fa-pencil-alt"></i>
                        Choose Elective
                    </a>

                </li>
                <li>
                    <a href="stud_view" >
                        <i class="fas fa-pencil-alt"></i>
                        View Preferences
                    </a>

                </li>
            </ul>
        </nav>

        <!-- Page Content  -->

        <div id="content">

            <% if(message.length > 0 ) { %>
                <div class="alert alert-danger">
                  <%= message%>
                </div>
            <% } %>

            <h2><b>Give Preference</b></h2>
            
            <form method="GET">
                
                <button type="submit" id='refresh' class="btn btn-primary" formaction="/stud_choose">Refresh Timer</button>
        
                <table class = "countdownContainer">
                    <tr>
                    <td colspan = "4" class = "info">Time Left</td>
                    </tr>
                    <tr class = "info">
                    <td id = "days" name = "days"><%= days %></td>
                    <td id = "hours" name = "hours"><%= hours %></td>
                    <td id = "mins" name = "mins"><%= mins %></td>
                    </tr>
                    <tr>
                    <td>Days</td>
                    <td>Hours</td>
                    <td>Minutes</td>
                    </tr>
        
                </table>
        
        
                </form>
            
            <form method='POST' action="/chooseelective">
            <div class="center">
                <center>
                    <table>
                        <thead>
                          <tr>
                            <th class="first-col"></th>
                            <% if(results.length> 0) { %>
                                <% for (var i = 0; i < results.length; i++){%>
                                    <th><%= i+1 %></th>
                                <% } %>
                            <% } %>

                            <!-- <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th> -->
                          </tr>
                        </thead>
                        <tbody>
                            <% if(results.length> 0) { %>
                                <% results.forEach(function(k){ %>
                                    <tr>
                                        <td class="first-col"><%= k.elective_name %></td>
                                        <div class="col-md-4">
                                            <% for (var i = 0; i < results.length; i++){%>
                                                <td><input type="radio" id="<%= i+1 %>" name="<%= k.elective_id %>" value="<%= i+1 %>"></td>
                                            <% } %>                                        
                                        </div>
                                    </tr>
                                <% }) %>  
                            <% } %>
                        </tbody>
                      </table>
                <br><br>
    
                <button type="submit" class="btn btn-primary" formaction="/chooseelective">Submit</button>
                </center>
            </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

    </script>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
