<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="main.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <style type="text/css">
    a,
    a:hover,
    a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
    }

    .navbar {
      margin-bottom: 0px;

    }

    .btn-info {
      color: #fff;
      background-color: #212431;
      border-color: #212431;
    }

    .btn-info:hover {
      color: #fff;
      background-color: #2e3346;
      border-color: #2e3346;
    }

    .navbar-brand {
      padding: 0px;
    }


    #customers th {

    background-color: #2e3346;

    }

    @media (min-width: 1200px) {
      .container {
        width: 1471px;
      }

      .col-md-4 {
        width: 22.33333333%;
      }

    }

    @media (max-width: 1200px) {

      .col-md-4 {
        width: 100%;
      }
    }

    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #f1f1f1;
      padding: 8px;
      width: 4px;

    }

    #customers tr:nth-child(even) {
      background-color: #f1f1f1;
    }

    #customers tr:nth-child(odd) {
      background-color: #ffffff;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      color: white;
      width: 4px;
      background-color: #6d7fcc;
    }

    .flashup {
      display: None;
    }

    .countdownContainer{
      position : relative;
      text-align: center;
      background: #889cf1;
      border: 1px solid #889cf1;
      padding: 10px;
      box-shadow: 0 0 5px 3px #ccc;
    }
    .info{
      font-size: 80px;
    }



  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">


      <a class="navbar-brand" href="student page.html">
        <img src="24.jfif" alt="logo" style="width:180px;">
      </a>

      <div class="container">
        <!-- <button class='btn btn-info pull-right' onclick="logout">
          Logout
        </button> -->
        <form action="/logout">
          <button class='btn btn-info pull-right'>Logout</button>
        </form>

      </div>


    </div>

  </nav>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span></span>
        </button>
      </div>

      <ul class="list-unstyled components">
        <li>

          <a href="coord_edit">
            <i class="fas fa-user"></i>
            Profile
          </a>

        </li>
        <li>
          <a href="coord_add">
            <i class="fas fa-pencil-alt"></i>
            Add Elective
          </a>

        </li>
        <li>
          <a href="coord_remove">
            <i class="fas fa-pencil-alt"></i>
            Remove Elective
          </a>
        </li>
        <li>
          <a href="coord_group">
            <i class="fas fa-copy"></i>
            Faculties
          </a>
        </li>
        <li>
          <a href="coord_stuents_send">
            <i class="fas fa-copy"></i>
            Students
          </a>
        </li>
        <li>
          <a href="coord_assign">
            <i class="fas fa-copy"></i>
            Assign electives
          </a>
        </li>
        <li>
          <a href="elective_list">
            <i class="fas fa-copy"></i>
            Elective List
          </a>
        </li>

      </ul>


    </nav>

    <!-- Page Content  -->


    <div id="content">
      <div id = 'center'>


      <% if (flag == 1) { %>
        <% if(message == "Timer has been set and once it is over, you can send the electives to the students".trim() ) { %>
          <div class="alert alert-success">
            <%= message%>
        <% } %>
          </div>
<center>
          <br><br><br><br><br><br>
        <form method="GET">
          <input class="combo form-control input-sm select-hidden-accessible"value="<%= rem_time %>" name = "rem_time" type="text" style = "display:None">


          <table class = "countdownContainer">
            <tr>
              <td colspan = "4" class = "info">Time Left</td>
            </tr>
            <tr class = "info">
              <td id = "days" name = "days"><%= days %></td>
              <td id = "hours" name = "hours"><%= hours %></td>
              <td id = "mins" name = "mins"><%= mins %></td>
            </tr>
            <tr>
              <td>Days</td>
              <td>Hours</td>
              <td>Minutes</td>
            </tr>

          </table>
        <center>
          <button type="submit" id='refresh' class="btn btn-primary" formaction="/coord_group">Refresh Timer</button>
        </center>
        </form>
      </center>
      </div>

      <% } %>

      <% if (flag == 2) { %>
        <form method='POST'>

        <div class="center">
          <center>
            <h3> Preferences given by the facuties</h3>
            <br><br>

            <label class="col-md-4 control-label h5 required">Semester:</label>
            <div class="col-md-4">
              <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="filter_sem"  value="<%= filter_sem %>selected">
                <option value="<%= filter_sem %>" selected>--Select Semester--</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="ALL">ALL</option>
              </select>
            </div>



            <label class="col-md-4 control-label h5 required"> Department:</label>
            <div class="col-md-4">
              <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="filter_dept" value="<%= filter_dept %>">
                <option value="<%= filter_dept %>"selected>--Select Department--</option>
                <option value="CSE">CSE</option>
                <option value="ECE">ECE</option>
                <option value="EEE">EEE</option>
                <option value="MEC">MECH</option>
                <option value="CIE">CIVIL</option>
                <option value="ALL">ALL</option>
              </select>
            </div>
            <br><br>

            <button type="submit" id='filter' class="btn btn-primary" formaction="/filter_faculty">Filter</button></p>
            <br>

            <% if(results.length> 0) { %>



                <table id="customers" style="margin-top:20px">

                  <tr>
                    <th>faculty_id</th>
                    <th>faculty_name</th>
                    <th>faculty_dept</th>
                    <th>elective_id</th>
                    <th>elective_name</th>
                    <th>sem</th>
                  </tr>
                  <% results.forEach(function(k){ %>

                    <tr>
                      <td>
                        <%= k.faculty_id %>
                      </td>
                      <td>
                        <%= k.faculty_name %>
                      </td>
                      <td>
                        <%= k.faculty_dept %>
                      </td>
                      <td>
                        <%= k.elective_id %>
                      </td>
                      <td>
                        <%= k.elective_name %>
                      </td>
                      <td>
                        <%= k.sem %>
                      </td>
                    </tr>

                    <% }) %>

                  <% } %>
                </center>
              </div>
            </form>

      <% } %>



      <% if (flag == 0) { %>

      <h2><b>GROUP ELECTIVES</b></h2>
      <form method='POST'>

        <!-- <% if(message === "Electives are displayed in Student Portal".trim()) { %>
          <div class="alert alert-success">
            <%= message %>
          </div>
        <% } %> -->


        <% if(message == "Electives are already displayed in Student Portal".trim() ) { %>
          <div class="alert alert-danger">
            <%= message%>
          </div>
        <% } %>

        <% if(message == "Electives are displayed in Student Portal".trim() ) { %>
          <div class="alert alert-success">
            <%= message%>
          </div>
        <% } %>

        <% if(message == "Electives are already displayed in Faculty Portal".trim() ) { %>
          <div class="alert alert-danger">
            <%= message%>
          </div>
        <% } %>

        <% if(message == "Electives are displayed in Faculty Portal".trim() ) { %>
          <div class="alert alert-success">
            <%= message%>
          </div>
        <% } %>





        <div class="center">
          <center>
            <label class="col-md-4 control-label h5 required">Semester:</label>
            <div class="col-md-4">
              <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="sem"  value="<%= sem %>selected">
                <option value="<%= sem %>" selected>--Select Semester--</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </div>



            <label class="col-md-4 control-label h5 required"> Department:</label>
            <div class="col-md-4">
              <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="dept" value="<%= dept %>">
                <option value="<%= dept %>"selected>--Select Department--</option>
                <option value="CSE">CSE</option>
                <option value="ECE">ECE</option>
                <option value="EEE">EEE</option>
                <option value="MEC">MECH</option>
                <option value="CIE">CIVIL</option>
              </select>
            </div>
            <br><br>

            <label class="col-md-4 control-label h5 required"> Date:</label>
            <div class="col-md-4">
              <div >
                <input class="combo form-control input-sm select-hidden-accessible"value="" name = "day" type="date">
              </div>
            </div>

            <label class="col-md-4 control-label h5 required"> Hours:</label>
            <div class="col-md-4">
              <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="hours" value="" onchange="populate('mins')">
                <option value="<%= dept %>"selected>--Select Hours--</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
            </div>
            <br><br>

            <label class="col-md-4 control-label h5 required"> Minutes:</label>
            <div class="col-md-4">
              <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="mins" value="" id ="mins">
                <option value="0">--Select Minutes--</option>
              </select>
            </div>
            <br><br><br>



            <button type="submit" id='timer' class="btn btn-primary" formaction="/faculty_setTime">Set Time</button>
            <button type="submit" id='group' class="btn btn-primary" formaction="/groupelective">Group</button></p>

            <button type="submit" class="btn btn-primary" formaction="/sendfaculties">Send to Faculty</button>
            <button onclick="exportTableToExcel('customers', 'elective-data')" class="btn btn-primary" href="#">Export as Excel</button>

            <% if(results.length> 0) { %>

                <table id="customers" style="margin-top:20px">
                  <tr>
                    <th>Elective_id</th>
                    <th>Elective_name</th>
                    <th>Semester</th>
                    <th>Department</th>
                    <th>Credits</th>
                    <th>Capacity</th>
                    <th>To Faculty</th>

                  </tr>
                  <% results.forEach(function(k){ %>

                    <tr>
                      <td>
                        <%= k.elective_id %>
                      </td>
                      <td>
                        <%= k.elective_name %>
                      </td>
                      <td>
                        <%= k.elective_sem %>
                      </td>
                      <td>
                        <%= k.elective_dept %>
                      </td>
                      <td>
                        <%= k.credits %>
                      </td>
                      <td>
                        <%= k.capacity %>
                      </td>



                      <% if(k.sent_faculties == 1) { %>
                        <td>Sent</td>
                      <% } else { %>
                        <td>Not Sent</td>
                      <% } %>


                    </tr>

                    <% }) %>

                  <% } %>
                </center>
              </div>
      </form>

      <% } %>

    </div>

  </div>

  <script>

    function populate(s1)
    {

      var s1 = document.getElementById("mins");
      s1.innerHTML = "";
      var newoption = document.createElement("option");

      newoption.value = "0";
      newoption.innerHTML = "--Select Minutes--";
      s1.options.add(newoption);

      for(var i = 0;i<60;i++)
      {
          newoption = document.createElement("option");
          newoption.value = i;
          newoption.innerHTML = i;
          s1.options.add(newoption);
      }
    }

  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>

  <script>
    function exportTableToExcel(tableID, filename = '') {
      var downloadLink;
      var dataType = 'application/vnd.ms-excel';
      var tableSelect = document.getElementById(tableID);
      var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

      // Specify file name
      filename = filename ? filename + '.xls' : 'excel_data.xls';

      // Create download link element
      downloadLink = document.createElement("a");

      document.body.appendChild(downloadLink);

      if (navigator.msSaveOrOpenBlob) {
        var blob = new Blob(['\ufeff', tableHTML], {
          type: dataType
        });
        navigator.msSaveOrOpenBlob(blob, filename);
      } else {
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

        // Setting the file name
        downloadLink.download = filename;

        //triggering the function
        downloadLink.click();
      }
    }
  </script>

  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
