<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="main.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <style type="text/css">
    a,
    a:hover,
    a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
    }

    .navbar {
      margin-bottom: 0px;

    }

    .btn-info {
      color: #fff;
      background-color: #212431;
      border-color: #212431;
    }

    .btn-info:hover {
      color: #fff;
      background-color: #2e3346;
      border-color: #2e3346;
    }

    .navbar-brand {
      padding: 0px;
    }


    #customers th {

    background-color: #2e3346;

    }

    @media (min-width: 1200px) {
      .container {
        width: 1471px;
      }

      .col-md-4 {
        width: 22.33333333%;
      }

    }

    @media (max-width: 1200px) {

      .col-md-4 {
        width: 100%;
      }
    }

    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #f1f1f1;
      padding: 8px;
      width: 4px;

    }

    #customers tr:nth-child(even) {
      background-color: #f1f1f1;
    }

    #customers tr:nth-child(odd) {
      background-color: #ffffff;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      color: white;
      width: 4px;
      background-color: #6d7fcc;
    }

    .flashup {
      display: None;
    }

    .countdownContainer{
      position : relative;
      text-align: center;
      background: #889cf1;
      border: 1px solid #889cf1;
      padding: 10px;
      box-shadow: 0 0 5px 3px #ccc;
    }
    .info{
      font-size: 80px;
    }



  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">


      <a class="navbar-brand" href="student page.html">
        <img src="24.jfif" alt="logo" style="width:180px;">
      </a>

      <div class="container">
        <!-- <button class='btn btn-info pull-right' onclick="logout">
          Logout
        </button> -->
        <form action="/logout">
          <button class='btn btn-info pull-right'>Logout</button>
        </form>

      </div>


    </div>

  </nav>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span></span>
        </button>
      </div>

      <ul class="list-unstyled components">
        <li>

          <a href="coord_edit">
            <i class="fas fa-user"></i>
            Profile
          </a>

        </li>
        <li>
          <a href="coord_add">
            <i class="fas fa-pencil-alt"></i>
            Add Elective
          </a>

        </li>
        <li>
          <a href="coord_remove">
            <i class="fas fa-pencil-alt"></i>
            Remove Elective
          </a>
        </li>
        <li>
          <a href="coord_group">
            <i class="fas fa-copy"></i>
            Faculties
          </a>
        </li>
        <li>
          <a href="coord_stuents_send">
            <i class="fas fa-copy"></i>
            Students
          </a>
        </li>
        <li>
          <a href="coord_assign">
            <i class="fas fa-copy"></i>
            Assign electives
          </a>
        </li>
        <li>
            <a href="coord_elecchange">
              <i class="fas fa-copy"></i>
              Elective Change
            </a>
          </li>
        <li>
          <a href="elective_list">
            <i class="fas fa-copy"></i>
            Elective List
          </a>
        </li>
        <li>
          <a href="coord_feedback">
            <i class="fas fa-copy"></i>
            Feedback
          </a>
        </li>

      </ul>


    </nav>

    <!-- Page Content  -->

    <input type = "text" name="results" id ="results" class="input-text" value="<%=results %>"  style = "display : none;">

    
    
    <div id="content">
      <h2 id = 'siva'><b>ASSIGN ELECTIVES</b></h2>

      <div>
      
      <% if(message == "Timer for changing elective has been set and mail has been sent to the students.".trim() ) { %>
        <div class="alert alert-success">
          <%= message%>
        </div>
      <% } %>
    
    </div>
      <div>
        <form method="post">
          <div class="center">
            <center>
              <label class="col-md-4 control-label h5 required">Semester:</label>
              <div class="col-md-4">
                <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="sem" id = "sem" value="<%= sem %>selected" onchange="assign_populate('dept', 'elective_id')">
                  <option value="<%= sem %>" selected>--Select Semester--</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                </select>
              </div>
  
  
  
              <label class="col-md-4 control-label h5 required"> Department:</label>
              <div class="col-md-4">
                <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="dept" id = "dept" value="<%= dept %>" onchange="assign_populate('dept', 'elective_id')">
                  <option value="<%= dept %>"selected>--Select Department--</option>
                  <option value="CSE">CSE</option>
                  <option value="ECE">ECE</option>
                  <option value="EEE">EEE</option>
                  <option value="MEC">MECH</option>
                  <option value="CIE">CIVIL</option>
                </select>
              </div>
              <br><br>
  
              <label class="col-md-4 control-label h5 required"> Elective ID:</label>
              <div class="col-md-4">
                <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" id = "elective_id" name="elective_id" value="" onchange="populate_faculty_id('elective_id', 'faculty_id')">
                  <option value="">--Select Elective ID--</option>
                </select>
              </div>
  
  
              <label class="col-md-4 control-label h5 required"> Preference:</label>
              <div class="col-md-4">
                <div >
                  <input class="combo form-control input-sm select-hidden-accessible" value="" name = "preference" type="number">
                </div>
              </div>
              <br><br>
  
              <label class="col-md-4 control-label h5 required"> Strength:</label>
              <div class="col-md-4">
                <div >
                  <input class="combo form-control input-sm select-hidden-accessible" value="" name = "strength" type="number">
                </div>
              </div>
  
              <label class="col-md-4 control-label h5 required"> Faculty ID:</label>
              <div class="col-md-4">
                <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" id = faculty_id name="faculty_id" value="">
                  <option value=""selected>--Select Faculty ID--</option>
                </select>
              </div>
  
              <br><br>
              <button type="submit" id='timer' class="btn btn-primary" formaction="/coord_final_assign">Assign</button>
              
                  </center>
          </div>
        </form>
    </div>







        <div class="center">
            <form method='POST'>
          <center>

            
            <label class="col-md-4 control-label h5 required">Semester:</label>
          <div class="col-md-4">
            <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name='elective_sem' id='elective_sem' onchange="populate('elective_dept', 'elective_name')">
              <option value="0" selected="">--Select Semester--</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>

            </select>
          </div>



          <label class="col-md-4 control-label h5 required"> Department:</label>
          <div class="col-md-4">
            <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="elective_dept" id = "elective_dept" onchange="populate('elective_dept', 'elective_name')">
              <option value="0" selected="">--Select Department--</option>
              <option value="CSE">CSE</option>
              <option value="ECE">ECE</option>
              <option value="EEE">EEE</option>
              <option value="MEC">MECH</option>
              <option value="CIE">CIVIL</option>
            </select>
          </div>
          <br><br>


            <label class="col-md-4 control-label h5 required"> Elective:</label>
            <div class="col-md-4">
              <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="elective_name" id = "elective_name">
                <option value="0">--Select Elective--</option>
  
              </select>
            </div>
            <br><br><br>


            <button type="submit" class="btn btn-primary" formaction="/coord_view_pref">View Preference Count</button>
            <button type="submit" class="btn btn-primary" formaction="/coord_check_availability">Check Availability</button>

            <% if (flag == 1) { %>
            <% if (table_flag == 0) { %>
              <% if(results_table.length> 0) { %>

                <table id = "customers" style="margin-top:20px">
                  <tr>
                    <th>Semester</th>
                    <th>Department</th>
                    <th>Elective_id</th>
                    <th>Elective_name</th>
                    <th>Faculty_id</th>
                    <th>Faculty_name</th>
                    <th>Strength</th>
  
                  </tr>
                  <% results_table.forEach(function(k){ %>
  
                    <tr>
                      <td>
                        <%= k.sem %>
                      </td>
                      <td>
                        <%= k.dept_name %>
                      </td>
                      <td>
                        <%= k.elective_id %>
                      </td>
                      <td>
                        <%= k.elective_name %>
                      </td>
                      <td>
                        <%= k.faculty_id %>
                      </td>
                      <td>
                        <%= k.faculty_name %>
                      </td>
                      <td>
                        <%= k.strength %>
                      </td>
  
                    </tr>
  
                    <% }) %>
  
                  <% } %>

            <% } %>

            <% if (table_flag == 1) { %>

              <% if(results_table.length> 0) { %>

                <table id = "customers" style="margin-top:20px">
                  <tr>
                    <th>Semester</th>
                    <th>Department</th>
                    <th>Elective_id</th>
                    <th>Elective_name</th>
                    <% columns.forEach(function(k){ %>
                      <th><%= k %> </th>  
                    <% }) %>  

  
                  </tr>
                  <% results_table.forEach(function(k){ %>
  
                    <tr>
                      <td>
                        <%= k.elective_sem %>
                      </td>
                      <td>
                        <%= k.elective_dept %>
                      </td>
                      <td>
                        <%= k.elective_id %>
                      </td>
                      <td>
                        <%= k.elective_name %>
                      </td>


                      <% for (var i =0; i <columns.length;  i++ ) { %>
                        <td> <%= k[columns[i]] %> </td>
                      <% } %> 

  
                    </tr>
  
                    <% }) %>
  
                  <% } %>

            <% } %>
            <% } %>

            
                </center>
            </form>
        </div>

        <div>
          <form method="post">
            <div class="center">
              <center>
                <label class="col-md-4 control-label h5 required"> Date:</label>
            <div class="col-md-4">
              <div >
                <input class="combo form-control input-sm select-hidden-accessible"value="" name = "day" type="date">
              </div>
            </div>

            <label class="col-md-4 control-label h5 required"> Hours:</label>
            <div class="col-md-4">
              <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="hours" value="" onchange="populate_mins('mins')">
                <option value="<%= dept %>"selected>--Select Hours--</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
            </div>
            <br><br>

            <label class="col-md-4 control-label h5 required"> Minutes:</label>
            <div class="col-md-4">
              <select class="combo form-control input-sm select-hidden-accessible" aria-hidden="true" name="mins" value="" id ="mins">
                <option value="0">--Select Minutes--</option>
              </select>
            </div>
            <br><br><br>



            <button type="submit" id='timer' class="btn btn-primary" formaction="/coord_assign_mail">Set Time</button>
              </center>
            </div>
          </form>
      </div>        
    
    </div>

<script>

  function populate_faculty_id(s1, s2)
  {

    var results = JSON.parse(document.getElementById("results").value);
    var s1 = document.getElementById(s1);
    var s2 = document.getElementById(s2);
    

    s2.innerHTML = ""

    var newoption = document.createElement("option");
    newoption.value = "0";
    newoption.innerHTML = "--Select Faculty ID--";
    s2.options.add(newoption);

    for(var i = 0; i < results.length; i++)
    {
      if(results[i].elective_id == s1.value)
      {
        newoption = document.createElement("option");
        newoption.value = results[i].faculty_id;
        newoption.innerHTML = results[i].faculty_id;
        s2.options.add(newoption);
      }
    }
    
  }

  function assign_populate(s1, s2)
  {

      var results = JSON.parse(document.getElementById("results").value);
      var s1 = document.getElementById(s1);
      var s2 = document.getElementById(s2);
      var s3 = document.getElementById('sem');


      s2.innerHTML = "";

      var CSE = [];
      var ECE = [];
      var EEE = [];
      var MEC = [];
      var CIE = [];

      for (var i = 0; i<results.length;i++)
      {
          if(results[i].dept_name == 'CSE' && results[i].sem == s3.value)
          {
              CSE.push(results[i].elective_id)
          }

          else if(results[i].dept_name == 'ECE' && results[i].sem == s3.value)
          {
              ECE.push(results[i].elective_id)
          }

          else if(results[i].dept_name == 'EEE' && results[i].sem == s3.value)
          {
              EEE.push(results[i].elective_id)
          }

          else if(results[i].dept_name == 'MEC' && results[i].sem == s3.value)
          {
              MEC.push(results[i].elective_id)
          }

          else if(results[i].dept_name == 'CIE' && results[i].sem == s3.value)
          {
              CIE.push(results[i].elective_id)
          }
      }

      if(s1.value == "CSE")
      {
          var optionArray = CSE;
      }

      else if(s1.value == "ECE")
      {
          var optionArray = ECE;
      }

      else if(s1.value == "EEE")
      {
          var optionArray = EEE;
      }

      else if(s1.value == "MEC")
      {
          var optionArray = MEC;
      }

      else if(s1.value == "CIE")
      {
          var optionArray = CIE;
      }
      

      optionArray = Array.from(new Set(optionArray));

      var newoption = document.createElement("option");
      newoption.value = "0";
      newoption.innerHTML = "--Select Elective--";
      s2.options.add(newoption);

      for(var i = 0;i<optionArray.length;i++)
      {
          newoption = document.createElement("option");
          newoption.value = optionArray[i];
          newoption.innerHTML = optionArray[i];
          s2.options.add(newoption);
      }

  }

  function populate(s1, s2)
  {
      var results = JSON.parse(document.getElementById("results").value);
      var s1 = document.getElementById(s1);
      var s2 = document.getElementById(s2);
      var s3 = document.getElementById('elective_sem');


      s2.innerHTML = "";

      var CSE = [];
      var ECE = [];
      var EEE = [];
      var MEC = [];
      var CIE = [];

      for (var i = 0; i<results.length;i++)
      {
          if(results[i].dept_name == 'CSE' && results[i].sem == s3.value)
          {
              CSE.push(results[i].elective_name)
          }

          else if(results[i].dept_name == 'ECE' && results[i].sem == s3.value)
          {
              ECE.push(results[i].elective_name)
          }

          else if(results[i].dept_name == 'EEE' && results[i].sem == s3.value)
          {
              EEE.push(results[i].elective_name)
          }

          else if(results[i].dept_name == 'MEC' && results[i].sem == s3.value)
          {
              MEC.push(results[i].elective_name)
          }

          else if(results[i].dept_name == 'CIE' && results[i].sem == s3.value)
          {
              CIE.push(results[i].elective_name)
          }
      }

      if(s1.value == "CSE")
      {
          var optionArray = CSE;
      }

      else if(s1.value == "ECE")
      {
          var optionArray = ECE;
      }

      else if(s1.value == "EEE")
      {
          var optionArray = EEE;
      }

      else if(s1.value == "MEC")
      {
          var optionArray = MEC;
      }

      else if(s1.value == "CIE")
      {
          var optionArray = CIE;
      }
      
      optionArray = Array.from(new Set(optionArray));

      var newoption = document.createElement("option");
      newoption.value = "0";
      newoption.innerHTML = "--Select Elective--";
      s2.options.add(newoption);

      for(var i = 0;i<optionArray.length;i++)
      {
          newoption = document.createElement("option");
          newoption.value = optionArray[i];
          newoption.innerHTML = optionArray[i];
          s2.options.add(newoption);
      }

  }

  function populate_mins(s1)
    {

      var s1 = document.getElementById("mins");
      s1.innerHTML = "";
      var newoption = document.createElement("option");

      newoption.value = "0";
      newoption.innerHTML = "--Select Minutes--";
      s1.options.add(newoption);

      for(var i = 0;i<60;i++)
      {
          newoption = document.createElement("option");
          newoption.value = i;
          newoption.innerHTML = i;
          s1.options.add(newoption);
      }
    }

  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>

  <script>
    function exportTableToExcel(tableID, filename = '') {
      var downloadLink;
      var dataType = 'application/vnd.ms-excel';
      var tableSelect = document.getElementById(tableID);
      var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

      // Specify file name
      filename = filename ? filename + '.xls' : 'excel_data.xls';

      // Create download link element
      downloadLink = document.createElement("a");

      document.body.appendChild(downloadLink);

      if (navigator.msSaveOrOpenBlob) {
        var blob = new Blob(['\ufeff', tableHTML], {
          type: dataType
        });
        navigator.msSaveOrOpenBlob(blob, filename);
      } else {
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

        // Setting the file name
        downloadLink.download = filename;

        //triggering the function
        downloadLink.click();
      }
    }
  </script>

  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>